body {
	margin: 0;
}
.hidden {
	display: none !important;
}

h1 {
	color: white;
	font-size: 64px;
}

.winner {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
	height: 100vh;
	width: 100vw;
}
#virtual-keyboard {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 150px;
	height: 150px;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0.5;
	margin: 10px;
}
#up-button {
	width: 50px;
	height: 50px;
	grid-area: 1/2/2/2;
}
#right-button {
	width: 50px;
	height: 50px;
	grid-area: 3/3/2/4;
}
#down-button {
	width: 50px;
	height: 50px;
	grid-area: 3/2/4/2;
}
#left-button {
	width: 50px;
	height: 50px;
	grid-area: 2/1/3/2;
}
@media (min-width: 961px) {
	#virtual-keyboard {
		visibility: hidden;
	}
}
